<div class="image-upload-container">
  <h2>Одабери слике</h2>

  <label for="file-upload" class="custom-upload-button"> Одабери </label>
  <input
    id="file-upload"
    type="file"
    (change)="onFilesSelected($event)"
    accept="image/*"
    multiple
    class="file-input"
    [disabled]="loading | async"
  />

  <div *ngIf="imagePreviews.length > 0" class="image-preview-container">
    <h3>Додате слике</h3>
    <div class="image-thumbnails">
      <div *ngFor="let preview of imagePreviews" class="image-thumbnail">
        <img [src]="preview" alt="Image preview" class="thumbnail" />
        <button
          (click)="removeImage(preview)"
          class="remove-btn"
          [disabled]="loading | async"
        >
          Избиши
        </button>
      </div>
    </div>
  </div>
</div>
