<div class="image-upload-container">
  <h2>Одабери слике</h2>

  <input
    id="file-upload"
    type="file"
    (change)="onFilesSelected($event)"
    accept="image/*"
    multiple
    style="display: none"
  />
  <label
    for="file-upload"
    class="custom-upload-button mat-raised-button mat-button-base"
    [class.mat-disabled]="loading | async"
  >
    <mat-icon>upload</mat-icon> Одабери
  </label>

  <mat-spinner *ngIf="loading | async" diameter="32"></mat-spinner>

  <div *ngIf="imagePreviews.length > 0" class="image-preview-container">
    <h3>Додате слике</h3>
    <div class="image-thumbnails">
      <div *ngFor="let preview of imagePreviews" class="image-thumbnail">
        <img [src]="preview" alt="Image preview" class="thumbnail" />
        <button
          mat-icon-button
          color="warn"
          (click)="removeImage(preview)"
          [disabled]="loading | async"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
