<main class="main">
  <mat-toolbar color="primary" class="toolbar">
    <span>Образовни Квиз</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="newQuiz()">
      Направи нови квиз
    </button></mat-toolbar
  >

  <div class="content">
    <div class="content-header">
      <h2>Добродошли у квиз генератор.</h2>
      <p>
        Направи нови или одабери постојећи квиз да обновиш и провериш своје
        знање.
      </p>
    </div>

    <ng-container *ngIf="quizzes | async as quizzesList; else noQuizzes">
      <app-quiz-list
        class="app-quiz-list"
        [quizzes]="quizzesList"
        (delete)="deleteQuiz($event)"
        (start)="startQuiz($event)"
      ></app-quiz-list>
    </ng-container>

    <ng-template #noQuizzes>
      <p class="no-quizzes">Нема доступних квизова. Направи нови!</p>
    </ng-template>
  </div>

  <router-outlet></router-outlet>
</main>
