<main class="main">
  <div class="content">
    <div class="content-header">
      <h2>Јејка, добродошла у образовни квиз.</h2>
      Направи нови или одабери постојећи квиз да обновиш и провериш своје знање.

      <div>
        <button matButton (click)="newQuiz()">Направи нови квиз</button>
      </div>
    </div>
    <mat-progress-spinner
      *ngIf="loading | async; else quizzesList"
      mode="indeterminate"
    ></mat-progress-spinner>

    <ng-template #quizzesList>
      <h3>Лист квизова</h3>
      <app-quiz-list
        [quizzes]="quizzes | async"
        (delete)="deleteQuiz($event)"
      ></app-quiz-list
    ></ng-template>
  </div>
</main>
<router-outlet />
