<div class="quiz-cards-container" *ngIf="quizzes?.length">
  <mat-card *ngFor="let quiz of quizzes" class="quiz-card">
    <mat-card-header>
      <mat-card-title>{{ quiz.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ quiz.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="startQuiz(quiz._id)">Start Quiz</button>
      <button (click)="deleteQuiz(quiz._id)">Delete</button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="!quizzes?.length">
    Не постоји ниједан квиз. Направи нови квиз.
  </div>
</div>
