.app-quiz-list {
  width: 100%;
}

.quiz-table-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

mat-table {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

mat-header-row {
  background-color: #f1f1f1;
}

mat-header-cell:last-child,
mat-cell:last-child {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  align-items: center;
  gap: 8px; /* Space between buttons */
}

mat-cell {
  padding: 12px;

  button {
    padding: 8px 16px !important; /* Add padding for buttons */
    min-width: 100px !important; /* Ensure Material button minimum width */
    height: 36px; /* Material default height for raised buttons */
    font-size: 14px;

    margin-right: 12px;
  }
}

mat-row {
  padding: 4px;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
